Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.codelite
.kdev4
.idea
Intermediate
Saved
Binaries
Script
Plugins
DerivedDataCache
Build
/*.ignore
/tags
/Makefile
/*.code-workspace
/*.kdev4
/*.sln
/*.pro
/*.workspace
/*.txt
/*.pri
